attr==0.3.2
audio.wave==4.0.2
backports.statistics==0.1.0
briefcase==0.4.4
brotli==1.2.0
brotlicffi==1.2.0.1
cffi==2.1.0
chardet==7.4.3
checks==0.2
ConfigParser==7.2.0
cryptography==49.0.0
cython==3.2.8
defusedxml==0.7.1
docutils==0.23
filelock==3.29.7
h2==4.3.0
HTMLParser==0.0.2
hypothesis==6.156.4
ipython==9.15.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
mtrand==0.1
mypy==2.2.0
olefile==0.47
psutil==7.2.2
PyInstaller==6.21.0
pyodide==0.0.2
PyOpenGL==3.1.10
pyOpenSSL==26.3.0
PyQt6==6.11.0
PySide6==6.11.1
pytest==9.1.1
pytest_run_parallel==0.9.1
PyYAML==6.0.3
redis==8.0.1
scipy_doctest==2.2.0
setuptools==80.10.2
simplejson==4.1.1
Sphinx==9.1.0
thread==2.0.6
threadpoolctl==3.6.0
typing_extensions==4.16.0
xmlrpclib==1.0.1
zengl==2.7.2
